<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assessment.mapper.AssessmentProjectMapper">
  <resultMap id="BaseResultMap" type="com.assessment.pojo.AssessmentProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_number" jdbcType="BIGINT" property="projectNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="starting_time" jdbcType="TIMESTAMP" property="startingTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="amount_receivable" jdbcType="DECIMAL" property="amountReceivable" />
    <result column="amount_received" jdbcType="DECIMAL" property="amountReceived" />
    <result column="outstanding_amount" jdbcType="DECIMAL" property="outstandingAmount" />
    <result column="payment_company" jdbcType="VARCHAR" property="paymentCompany" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.assessment.pojo.AssessmentProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_number" jdbcType="BIGINT" property="projectNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="starting_time" jdbcType="TIMESTAMP" property="startingTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="amount_receivable" jdbcType="DECIMAL" property="amountReceivable" />
    <result column="amount_received" jdbcType="DECIMAL" property="amountReceived" />
    <result column="outstanding_amount" jdbcType="DECIMAL" property="outstandingAmount" />
    <result column="payment_company" jdbcType="VARCHAR" property="paymentCompany" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
</mapper>