<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assessment.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.assessment.pojo.Report">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="report_number" jdbcType="BIGINT" property="reportNumber" />
    <result column="report_name" jdbcType="VARCHAR" property="reportName" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.assessment.pojo.Report">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="report_number" jdbcType="BIGINT" property="reportNumber" />
    <result column="report_name" jdbcType="VARCHAR" property="reportName" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
  </resultMap>
</mapper>